PORT=3001
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/marketmuse
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KEYWORDS_EVERYWHERE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SERPAPI_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALLOWED_ORIGIN=https://market-mus.netlify.app
NODE_ENV=production
